<table class="keyboard-mappings">
  <tbody>
    <tr>
      <td class="keys">
        <div class="key">.</div> or <div class="key">r</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.r') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">j</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.j') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">k</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.k') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">s</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.s') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">x</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.x') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">a</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.a') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">y</div> or <div class="key">e</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.e') %>
      </td>
    </tr>
    <tr>
    <tr>
      <td class="keys">
        <div class="key">m</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.m') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">d</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.d') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">#</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.hash') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">o</div> or <div class="key">Enter</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.o') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">?</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.question_mark') %>
      </td>
    </tr>
    <tr>
      <td class="keys">
        <div class="key">esc</div>
      </td>
      <td>
        <%= t('views.shared.keyboard_mappings.esc') %>
      </td>
    </tr>
  </tbody>
</table>
