<div class='not-a-nav sticky-top'>
  <%= link_to login_path, class: 'btn btn-dark m-3 float-right' do %>
    <span class='mr-1'>Sign in</span>
    <%= octicon 'mark-github', height: 22 %>
  <% end %>
</div>

<div class='container readable'>
  <h1 class="text-center"><%= octobox_round(80) %> <span class='align-middle'>Octobox</span></h1>
  <h3 class='text-center pt-3'><%= t('home.strapline') %></h3> 
  <h5 class='text-center font-weight-light'>
      <%= number_to_human Notification.count %> <%= t('home.counter') %>&#8230
  </h5>
  <div class='text-center'>
    <%= image_tag 'screenshot.png', class: 'screenshot mt-3', alt: 'Octobox Screenshot' %>
  </div>

  <h3 id='sound-like-you' class='pt-3'><%= t('home.sound_like_you.head')%></h3>
  <p class='text-large'><%= t('home.sound_like_you.p0')%></p>

  <p class='text-large'><%= t('home.sound_like_you.p1')%></p>

  <div id='dont-lose-track' class="card shadow-sm mb-3">
    <div class="card-body">
      <div class="media">
        <div class="align-self-center mr-4">
          <%= octicon 'inbox', height: 50 %>
        </div>
        <div class="media-body">
          <h5><%= t('home.dont_lose_track.head')%></h5>
          <%= t('home.dont_lose_track.p0')%>
        </div>
      </div>
    </div>
  </div>
  <div id='filter-all-the-things' class="card shadow-sm mb-3">
    <div class="card-body">
      <div class="media">
        <div class="align-self-center mr-4">
          <%= octicon 'search', height: 50 %>
        </div>
        <div class="media-body">
          <h5><%= t('home.keep_your_focus.head')%></h5>
          <%= t('home.keep_your_focus.p0')%>
        </div>
      </div>
    </div>
  </div>
  <div id='enhanced-notifications' class="card shadow-sm mb-3">
    <div class="card-body">
      <div class="media">
        <div class="align-self-center mr-4">
          <%= octicon 'sync', height: 50 %>
        </div>
        <div class="media-body">
          <h5><%= t('home.stay_fresh.head')%></h5>
          <%= t('home.stay_fresh.p0')%>
          <a href='#install-the-app'><%= t('home.stay_fresh.link')%></a>
        </div>
      </div>
    </div>
  </div>

  <% if Octobox.github_app? %>
    <h3 id='install-the-app' class='pt-5'><%= t('home.install_the_app.head')%></h3>
    <p class='text-large'><%= t('home.install_the_app.p0')%></p>
    
    <%= image_tag 'notification-basic.png', class: 'screenshot shadow-sm mb-4', alt: t('home.install_the_app.button') %>
    
    <p class='text-large'><%= t('home.install_the_app.p1')%></p>
    
    <%= image_tag 'notification-enhanced.png', class: 'screenshot shadow-sm mb-4', alt: t('home.install_the_app.enhanced_alt_text') %>

    <div class='text-center'>
      <%= link_to Octobox.config.app_url, class: 'btn btn-lg btn-dark' do %>
        <span class='mr-1'><%= t('home.install_the_app.basic_alt_text')%></span>
        <%= octicon 'briefcase', height: 22 %>
      <% end %>
    </div>
  <% end %>

  <% if Octobox.octobox_io? %>
    <h3 id='pricing' class='pt-5'><%= t('home.pricing.head')%></h3>
    <p class='pt-3 text-large'><%= t('home.pricing.p0')%>Octobox is <b><%= t('home.pricing.bold')%></b> <%= t('home.pricing.p1')%> <a href='#enhanced-notifications'><%= t('home.pricing.link')%></a> <%= t('home.pricing.p2')%></p>
    <div class='d-flex flex-column flex-lg-row pt-3 justify-content-center'>
      <%= render('pages/opencollective')%>
      <%= render('pages/github')%>
    </div>
    <p class='text-large'><%= t('home.pricing.p3')%> <a href='/pricing#why'><%= t('home.pricing.read_more')%></a>.</p>

    <h3 id='users' class='pt-3'><%= t('home.used_by.head')%></h3>
    <div class="row mt-4">
      <div class="col">
        <% used_by_orgs.each do |org| %>
          <%= image_tag "https://github.com/#{org}.png?w=120", width: 60, height: 60, class: 'inline-block mr-2 mb-3', title: org, data: {toggle: 'tooltip'} %>
        <% end %>
      </div>
    </div>
  <% end %>



  <h3 id='run-your-own' class='pt-5'><%= t('home.run_your_own.head')%></h3>

  <p class='text-large'><%= t('home.run_your_own.p0')%> <a href="https://octobox.io/">octobox.io</a><%= t('home.run_your_own.p1')%><a href="https://github.com/octobox/octobox/blob/master/docs/INSTALLATION.md"><%= t('home.run_your_own.link')%></a>.</p>

  <h3 id='contribute' class='pt-5'><%= t('home.contribute.head')%></h3>

  <p class='text-large'><%= t('home.contribute.p0')%> <a href="https://github.com/octobox/octobox">GitHub</a>. <%= t('home.contribute.p1')%> <a href="https://github.com/octobox/octobox/issues/new"><%= t('home.contribute.issue_link')%></a> <%= t('home.contribute.p2')%>.</p>

  <p class='text-large'><%= t('home.contribute.p3')%> <a href="https://github.com/octobox/octobox/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22">"<%= t('home.contribute.label_link')%>"</a>.</p>

  <p class='text-large'><%= t('home.contribute.p4')%>  <a href="https://www.codetriage.com/octobox/octobox"><%= t('home.contribute.triage_link')%></a>.</p>

  <p class='text-large mb-5'><%= t('home.contribute.p5')%></p>

  <%= render 'layouts/footer'%>
</div>

<script async defer src="https://buttons.github.io/buttons.js"></script>
